
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: white; width: 80% ;margin: auto; margin-top: 20px; padding: 20px; border-radius: 10px;">
    <h2 style="text-align: center;">Xác nhận đơn hàng</h2>
    <div style="background-color:#00DD00; width: 80%; height: 140px; margin: auto; padding-left: 50px; padding-top: 10px; border-radius: 10px;">
        <p>- Đơn hàng của bạn đã được đặt thành công ! </p>

        <p>- Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi !</p>
        <p>- Vui lòng chờ thêm ít ngày đễ chúng tôi vận chuyển hàng đến chỗ bạn.</p>
    </div>
    <p style="margin-left: 1050px; margin-top: 20px;">
        @Html.ActionLink("Về Trang Chủ", "Index", "Home")
    </p>

</div>