 @model CypherShop.Models.ProductDetail
    <!-- Nav tabs -->
<ul class="nav" role="tablist">
        <li class="nav-item nav1">
            <a class="nav-link active" data-toggle="tab" href="#home"><strong>Hót Nhất Hôm Nay</strong><br /><p>Ưu đãi hấp dẫn</p></a>
        </li>

    @*<li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1"><strong>Hàng Mới</strong><br /><p>Ưu đãi đến 28%</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2"><strong>Khuyến Mãi</strong><br /><p>Giảm đến 49%++</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu3"><strong>Văn Phòng</strong><br /><p>Giảm đến 20%++</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu4"><strong>Học Tập</strong><br /><p>Ưu đãi khủng</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu5"><strong>Gaming</strong><br /><p>Giảm đến 35%++</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu6"><strong>Coder</strong><br /><p>Quà tặng hấp dẫn</p></a>
        </li>*@
</ul>
